@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    background-color: #FFFFFF;
}

.nav-section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #575757;
}

.primary-button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Banner (Hero) Section Start */

.hero-section {
    background-color: yellowgreen;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url("./assets/images/banner.jpg");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    color: #FFFFFF;
    padding: 20px;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.hero-content h1 span {
    font-style: italic;
}

.hero-content p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 300px;
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}